/* планшет */
@media screen and (max-width: 1023px) {
  .section-1 {
    width: 100vw;
    height: 116vw;
  }
  .section-1 h1 {
    width: 28vw;
    height: 16vw;
    top: 46.5vw;
    left: 35vw;
  }
  .container-1 {
    height: 116vw;
  }
  .rama {
    width: 60vw;
    height: 41vw;
    left: 20vw;
    top: 38vw;
  }
  .starlamp {
    top: 25vw;
    left: 19vw;
  }
  .starlamp {
    animation: starCorners 4s steps(1) infinite;
  }
  @keyframes starCorners {
    0% {
      top: 37vw;
      left: 19vw;
      opacity: 1;
    }
    12% {
      opacity: 0;
    }

    25% {
      top: 37vw;
      left: 73vw;
      opacity: 1;
    }
    37% {
      opacity: 0;
    }

    50% {
      top: 69vw;
      left: 73vw;
      opacity: 1;
    }
    62% {
      opacity: 0;
    }

    75% {
      top: 69vw;
      left: 19vw;
      opacity: 1;
    }
    87% {
      opacity: 0;
    }

    100% {
      top: 37vw;
      left: 19vw;
      opacity: 0;
    }
  }

  .bt {
    width: 43vw;
    height: 12vw;
    font-size: 3.3vw;
    bottom: 6vw;
    left: 29vw;
    border-radius: 13vw;
  }
  .section-2 {
    height: 116vw;
  }
  .container-2 {
    height: 116vw;
  }
  .board {
    width: 100vw;
    height: 80vw;
    top: 18vw;
    left: 7.5vw;
    transform: rotate(-90deg);
  }
  .fruits {
    position: absolute;
    width: 94vw;
    height: 63vw;
    top: 26vw;
    left: 4vw;
    transform: rotate(90deg);
  }

  .cherry1 {
    top: 11vw;
  }
  .cherry2 {
    top: 44vw;
    left: 71vw;
  }
  .cherry3 {
    top: 94vw;
    left: 54.5vw;
  }
  .cherry4 {
    top: 61vw;
    left: 21vw;
  }
  .dice {
    top: 1vw;
    right: 1vw;
    transform: rotate(-90deg);
  }
  .container-3 {
    width: 67vw;
    height: 33vw;
    top: 41vw;
    left: 17vw;
    transform: rotate(90deg);
  }
  .p1 {
    width: 35vw;
    height: 3vw;
    font-size: 5vw;
    top: 15vw;
    left: -13vw;
    transform: rotate(-90deg);
  }
  .ppp {
    width: 25vw;
    height: 3vw;
    font-size: 3vw;
    top: 15.4vw;
    right: 36vw;
    transform: rotate(-90deg);
  }
  .q1,
  .q2,
  .one,
  .five,
  .eight,
  .twelve {
    width: 4vw;
    height: 9vw;
    font-size: 10vw;
  }

  .q1 {
    left: 56.5vw;
    top: 11vw;
  }

  .q2 {
    left: 39.5vw;
    top: 94.5vw;
  }

  .one {
    left: 23.5vw;
    top: 78vw;
  }
  .five {
    left: 23vw;
    top: 12vw;
  }
  .eight {
    top: 27.9vw;
    left: 73.2vw;
  }
  .twelve {
    top: 94.5vw;
    left: 71.5vw;
  }
  .start {
    font-size: 4vw;
    left: 19vw;
    top: 98vw;
    transform: rotate(0deg);
  }
  .bluechip {
    width: 9vw;
    height: 13vw;
    top: 47vw;
    left: 77vw;
  }

  .start {
    width: 10vw;
    height: 3vw;
    font-size: 4vw;
    left: 19.2vw;
    top: 98vw;
    transform: rotate(0deg);
  }
  .pc {
    width: 10.6vw;
    height: 12vw;
    top: 6vw;
    right: 18vw;
    transform: rotate(-90deg);
  }
  .box1 {
    flex-direction: column;
    width: 100vw;
    height: 224vw;
  }

  .section-3 {
    flex-direction: column;
    width: 100vw;
    height: 116vw;
  }

  .orange {
    width: 75vw;
    height: 76vw;
    left: 19vw;
    top: 26vw;
  }

  .texts4 {
    width: 67vw;
    height: 7vw;
    font-size: 3vw;
    left: 4vw;
    top: 11vw;
  }
  .texts3 {
    width: 60vw;
    height: 5vw;
    font-size: 5vw;
    top: 4vw;
    left: 4vw;
  }

  .stik1 {
    width: 23vw;
    height: 17vw;
    top: 80vw;
    left: 29vw;
  }
  .stik2 {
    width: 31vw;
    height: 26vw;
    left: 35vw;
    top: 44vw;
  }

  .stik3 {
    width: 53vw;
    height: 30vw;
    top: 53.5vw;
    left: 17.5vw;
  }
  .stik4 {
    width: 41vw;
    height: 37vw;
    top: 60vw;
    left: 50vw;
  }
  .section-4 {
    width: 100vw;
    height: 116vw;
  }
  .text_caz1 {
    width: 45vw;
    height: 3vw;
    font-size: 5vw;
    top: 4vw;
    right: 1vw;
  }
  .text_caz2 {
    width: 50vw;
    height: 3vw;
    font-size: 3vw;
    top: 10vw;
    right: 4vw;
  }
  .cazik {
    width: 67vw;
    height: 69vw;
    left: 16vw;
  }
  .point {
    width: 6vw;
    height: 6vw;
    top: 83vw;
    right: 19vw;
  }
  .star {
    width: 69vw;
    height: 69vw;
    top: 36vw;
    left: 15vw;
  }

  .slot {
    width: 15vw;
    height: 19vw;
    top: 79.7vw;
    left: 28.4vw;
  }
  .slot2 {
    width: 15vw;
    height: 19vw;
    top: 79.7vw;
    left: 42.4vw;
  }
  .slot3 {
    width: 15vw;
    height: 19vw;
    top: 79.7vw;
    left: 56.4vw;
  }
  .track {
    display: flex;
    flex-direction: column;
    transition: transform 2s cubic-bezier(0.1, 0.7, 0.2, 1);
  }

  .symbol {
    width: 15vw;
    height: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .symbol img {
    position: absolute;
    width: 9vw;
    left: 2.1vw;
  }
  .section-5 {
    width: 100vw;
    height: 116vw;
  }
  .container-4 {
    width: 100vw;
    height: 116vw;
  }

  .cards {
    width: 37vw;
    height: 41vw;
    right: 30vw;
    top: 26vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 28vw;
    height: 34vw;
    bottom: 4vw;
  }

  .cardFlip.card1 {
    left: 3vw;
  }
  .cardFlip.card2 {
    left: 33vw;
  }
  .cardFlip.card3 {
    left: 63vw;
  }
  .cardFlip-inside--back {
    transform: rotateY(180deg) translateX(4vw) translateY(2vw);
  }
  .text_card1 {
    width: 59vw;
    height: 3vw;
    font-size: 5vw;
    top: 4vw;
    left: 2vw;
  }
  .text_card2 {
    width: 44vw;
    height: 7vw;
    font-size: 3vw;
    top: 11vw;
    left: 3.2vw;
  }
}
/* для мобильных устройств */

@media screen and (max-width: 767px) {
  .section-1 {
    height: 180vw;
  }
  .container-1 {
    height: 180vw;
  }
  .rama {
    width: 93vw;
    height: 108vw;
    left: 27vw;
    top: 36vw;
    transform: rotate(-90deg);
  }
  .section-1 h1 {
    width: 41vw;
    height: 16vw;
    font-size: 9.6vw;
    top: 76.6vw;
    left: 28vw;
  }
  .starlamp {
    width: 10vw;
    height: 10vw;
    top: 54vw;
    left: 18.4vw;
  }
  .starlamp {
    animation: starCorners 4s steps(1) infinite;
  }
  @keyframes starCorners {
    0% {
      top: 44vw;
      left: 18.4vw;
      opacity: 1;
    }
    12% {
      opacity: 0;
    }

    25% {
      top: 44vw;
      left: 69.4vw;
      opacity: 1;
    }
    37% {
      opacity: 0;
    }

    50% {
      top: 128vw;
      left: 69.4vw;
      opacity: 1;
    }
    62% {
      opacity: 0;
    }

    75% {
      top: 128vw;
      left: 18.4vw;
      opacity: 1;
    }
    87% {
      opacity: 0;
    }

    100% {
      top: 44vw;
      left: 18.4vw;
      opacity: 0;
    }
  }
  .bt {
    width: 63vw;
    height: 19vw;
    font-size: 5vw;
    bottom: 11vw;
    left: 18vw;
    border-radius: 13vw;
  }
  .roofs {
    width: 162vw;
    height: 37vw;
  }
  .section-2 {
    height: 180vw;
  }
  .container-2 {
    height: 180vw;
  }
  .board {
    width: 151vw;
    height: 166vw;
    top: 8vw;
    left: 7.5vw;
    transform: rotate(-90deg);
  }
  .fruits {
    width: 126vw;
    height: 95vw;
    top: 35vw;
    left: -13vw;
  }

  .cherry1 {
    position: absolute;
    width: 19vw;
    height: 19vw;
    top: 19vw;
    left: 29vw;
  }
  .cherry2 {
    position: absolute;
    width: 19vw;
    height: 19vw;
    top: 68vw;
    left: 79vw;
  }
  .cherry3 {
    position: absolute;
    width: 19vw;
    height: 19vw;
    top: 144vw;
    left: 53.5vw;
  }
  .cherry4 {
    position: absolute;
    width: 19vw;
    height: 19vw;
    top: 93vw;
    left: 3vw;
  }
  .dice {
    width: 24vw;
    height: 24vw;
    top: 0vw;
    right: -3vw;
    transform: rotate(-90deg);
  }
  .container-3 {
    width: 95vw;
    height: 42vw;
    top: 66vw;
    left: 2vw;
  }
  .p1 {
    width: 41vw;
    height: 3vw;
    font-size: 7vw;
    top: 19vw;
    left: -14vw;
  }
  .ppp {
    font-size: 3vw;
    top: 24.4vw;
    right: 36vw;
  }
  .q1,
  .q2,
  .one,
  .five,
  .eight,
  .twelve {
    width: 4vw;
    height: 9vw;
    font-size: 12vw;
  }

  .q1 {
    left: 57.5vw;
    top: 20vw;
  }

  .q2 {
    left: 33.5vw;
    top: 145.5vw;
  }

  .one {
    left: 9.5vw;
    top: 120vw;
  }
  .five {
    left: 7vw;
    top: 21vw;
  }
  .eight {
    top: 44.9vw;
    left: 83.2vw;
  }
  .twelve {
    top: 145.5vw;
    left: 80.5vw;
  }
  .start {
    font-size: 4vw;
    left: 19vw;
    top: 126vw;
    transform: rotate(0deg);
  }
  .bluechip {
    position: absolute;
    width: 9vw;
    height: 13vw;
    top: 47vw;
    left: 77vw;
  }

  .start {
    width: 10vw;
    height: 3vw;
    font-size: 7vw;
    left: 1vw;
    top: 151vw;
    transform: rotate(0deg);
  }
  .pc {
    width: 18.6vw;
    height: 14vw;
    top: 11vw;
    right: 20vw;
    transform: rotate(-90deg);
  }
  /* ------- */
  .box1 {
    flex-direction: column;
    width: 100vw;
    height: 360vw;
  }

  .section-3 {
    flex-direction: column;
    width: 100vw;
    height: 180vw;
  }

  .orange {
    top: 59vw;
  }

  .texts4 {
    width: 67vw;
    height: 7vw;
    font-size: 4vw;
    left: 4vw;
    top: 16vw;
  }
  .texts3 {
    width: 74vw;
    height: 5vw;
    font-size: 7vw;
    top: 5vw;
  }

  .stik1 {
    top: 114vw;
  }
  .stik2 {
    top: 77vw;
  }

  .stik3 {
    top: 85.5vw;
  }
  .stik4 {
    top: 94vw;
  }
  .section-4 {
    width: 100vw;
    height: 180vw;
  }
  .text_caz1 {
    width: 65vw;
    height: 3vw;
    font-size: 7vw;
    top: 5vw;
  }
  .text_caz2 {
    width: 50vw;
    height: 3vw;
    font-size: 4vw;
    top: 15vw;
    right: 4vw;
  }
  .cazik {
    width: 95vw;
    height: 85vw;
    left: 10vw;
  }
  .point {
    width: 10vw;
    height: 10vw;
    top: 141vw;
    right: 8.3vw;
  }
  .star {
    width: 85vw;
    height: 85vw;
    top: 88vw;
    left: 8vw;
  }

  .slot {
    width: 19vw;
    height: 23vw;
    top: 140.7vw;
    left: 25.4vw;
  }
  .slot2 {
    width: 19vw;
    height: 23vw;
    top: 140.7vw;
    left: 42.4vw;
  }
  .slot3 {
    width: 19vw;
    height: 23vw;
    top: 140.7vw;
    left: 60.4vw;
  }
  .track {
    display: flex;
    flex-direction: column;
    transition: transform 2s cubic-bezier(0.1, 0.7, 0.2, 1);
  }

  .symbol {
    width: 19vw;
    height: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .symbol img {
    position: absolute;
    width: 9vw;
    left: 3.1vw;
  }
  .section-5 {
    width: 100vw;
    height: 180vw;
  }
  .container-4 {
    width: 100vw;
    height: 180vw;
  }

  .cards {
    width: 47vw;
    height: 58vw;
    bottom: 24vw;
    left: 25vw;
  }

  .card1,
  .card2,
  .card3 {
    width: 47vw;
    height: 44vw;
    bottom: 17vw;
  }
  .cardFlip.card1 {
    left: -8vw;
  }
  .cardFlip.card2 {
    left: 24vw;
  }
  .cardFlip.card3 {
    left: 56vw;
  }
  .cardFlip-inside--back {
    transform: rotateY(180deg) translateX(1vw) translateY(0vw) translate-X(1vw);
  }
  .card1 {
    left: 3vw;
  }
  .card2 {
    left: 36vw;
  }
  .card3 {
    left: 69vw;
  }
  .text_card1 {
    width: 82vw;
    height: 3vw;
    font-size: 7vw;
    top: 4vw;
    left: 2vw;
  }
  .text_card2 {
    width: 44vw;
    height: 7vw;
    font-size: 4vw;
    top: 13vw;
    left: 3.2vw;
  }
  .section-6 {
    height: 40vw;
  }

  .name {
    width: 38vw;
    height: 10vw;
    font-size: 5vw;
    text-align: start;
    right: 59vw;
    top: 3.5vw;
  }

  .hse {
    width: 32vw;
    height: 16.5vw;
    left: 3vw;
    top: 19.5vw;
  }
}
